[submodule "themes/matery"]
	path = themes/matery
	url = https://github.com/qiaoyafeng/hexo-theme-matery.git
[submodule "themes/material"]
	path = themes/material
	url = https://github.com/qiaoyafeng/hexo-theme-material.git
[submodule "themes/hiker"]
	path = themes/hiker
	url = https://github.com/qiaoyafeng/hexo-theme-hiker.git
